### Import Library

In [14]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

### Pre-proccessing Dataset

#### Load Main Data

In [15]:
df_init = pd.read_csv('../../data/final_data.csv')
df_init.head()

,id,job_title,location,salary_currency,career_level,experience_level,education_level,employment_type,job_function,job_benefits,company_process_time,company_size,company_industry,job_description,salary,job_description_cleaned,annotations,skills
0,1,Facility Maintenance & Smart Warehouse Manager,Bandung,IDR,Manajer/Asisten Manajer,5 tahun,"Sertifikat Professional, D3 (Diploma), D4 (Dip...",Penuh Waktu,"Manufaktur,Pemeliharaan",NaN,NaN,NaN,NaN,Deskripsi PekerjaanRequirements :D3/SI from re...,NaN,deskripsi pekerjaanrequirements si from reputa...,{'text': 'deskripsi pekerjaanrequirements si f...,"['electrical inspection', 'management system',..."
1,2,Procurement Department Head,Jakarta Raya,IDR,Manajer/Asisten Manajer,5 tahun,"Sarjana (S1), Diploma Pascasarjana, Gelar Prof...",Penuh Waktu,"Manufaktur,Pembelian/Manajemen Material",NaN,25 days,51 - 200 pekerja,Manajemen/Konsulting HR,Job Role: 1. Responsible for material availabi...,NaN,job role responsible for material availabili...,{'text': 'job role responsible for material av...,"['heavy equipment', 'contract management', 'pr..."
2,3,SALES ADMIN,Jakarta Barat,IDR,Supervisor/Koordinator,4 tahun,Sarjana (S1),Penuh Waktu,"Penjualan / Pemasaran,Penjualan Ritel","Waktu regular, Senin - Jumat;Bisnis (contoh: K...",30 days,51 - 200 pekerja,Umum & Grosir,Internal Sales & AdminJob Description :We are ...,NaN,internal sales adminjob description we are loo...,{'text': 'internal sales adminjob description ...,"['microsoft office', 'heat exchanger', 'carbon..."
3,4,City Operation Lead Shopee Express (Cirebon),Cirebon,IDR,Supervisor/Koordinator,5 tahun,"Sarjana (S1), Diploma Pascasarjana, Gelar Prof...",Penuh Waktu,"Pelayanan,Logistik/Rantai Pasokan","Tip;Waktu regular, Senin - Jumat;Kasual (conto...",21 days,2001 - 5000 pekerja,Retail/Merchandise,Job Description:Responsible for HSE implementa...,NaN,job description responsible for hse implementa...,{'text': 'job description responsible for hse ...,"['operation management', 'analytical skill', '..."
4,5,Japanese Interpreter,Bekasi,IDR,Pegawai (non-manajemen & non-supervisor),2 tahun,"Sertifikat Professional, D3 (Diploma), D4 (Dip...",Penuh Waktu,"Lainnya,Jurnalis/Editor",NaN,23 days,201 - 500 pekerja,Manajemen/Konsulting HR,Overview: Our clients is manufacture for autom...,NaN,overview our clients is manufacture for automo...,{'text': 'overview our clients is manufacture ...,"['japanese', 'translator', 'english', 'non', '..."

In [16]:
df_init.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17182 entries, 0 to 17181
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       17182 non-null  int64
 1   job_title                17182 non-null  object
 2   location                 17182 non-null  object
 3   salary_currency          17178 non-null  object
 4   career_level             17182 non-null  object
 5   experience_level         17182 non-null  object
 6   education_level          17182 non-null  object
 7   employment_type          17182 non-null  object
 8   job_function             17182 non-null  object
 9   job_benefits             14440 non-null  object
 10  company_process_time     13377 non-null  object
 11  company_size             15488 non-null  object
 12  company_industry         16412 non-null  object
 13  job_description          17182 non-null  object
 14  salary                   4680 non-null   float64
 15  job_description_cleaned  17182 non-null  object
 16  annotations              17182 non-null  object
 17  skills                   17182 non-null  object
dtypes: float64(1), int64(1), object(16)
memory usage: 2.4+ MB

#### Setup Data Model

In [17]:
col= ['job_title','education_level','experience_level','job_function','job_description','job_description_cleaned','skills']

df = df_init[col]

#### Assessing data

In [18]:
df.head()

,job_title,education_level,experience_level,job_function,job_description,job_description_cleaned,skills
0,Facility Maintenance & Smart Warehouse Manager,"Sertifikat Professional, D3 (Diploma), D4 (Dip...",5 tahun,"Manufaktur,Pemeliharaan",Deskripsi PekerjaanRequirements :D3/SI from re...,deskripsi pekerjaanrequirements si from reputa...,"['electrical inspection', 'management system',..."
1,Procurement Department Head,"Sarjana (S1), Diploma Pascasarjana, Gelar Prof...",5 tahun,"Manufaktur,Pembelian/Manajemen Material",Job Role: 1. Responsible for material availabi...,job role responsible for material availabili...,"['heavy equipment', 'contract management', 'pr..."
2,SALES ADMIN,Sarjana (S1),4 tahun,"Penjualan / Pemasaran,Penjualan Ritel",Internal Sales & AdminJob Description :We are ...,internal sales adminjob description we are loo...,"['microsoft office', 'heat exchanger', 'carbon..."
3,City Operation Lead Shopee Express (Cirebon),"Sarjana (S1), Diploma Pascasarjana, Gelar Prof...",5 tahun,"Pelayanan,Logistik/Rantai Pasokan",Job Description:Responsible for HSE implementa...,job description responsible for hse implementa...,"['operation management', 'analytical skill', '..."
4,Japanese Interpreter,"Sertifikat Professional, D3 (Diploma), D4 (Dip...",2 tahun,"Lainnya,Jurnalis/Editor",Overview: Our clients is manufacture for autom...,overview our clients is manufacture for automo...,"['japanese', 'translator', 'english', 'non', '..."

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17182 entries, 0 to 17181
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   job_title                17182 non-null  object
 1   education_level          17182 non-null  object
 2   experience_level         17182 non-null  object
 3   job_function             17182 non-null  object
 4   job_description          17182 non-null  object
 5   job_description_cleaned  17182 non-null  object
 6   skills                   17182 non-null  object
dtypes: object(7)
memory usage: 939.8+ KB

In [20]:
df.describe(include='all')

,job_title,education_level,experience_level,job_function,job_description,job_description_cleaned,skills
count,17182,17182,17182,17182,17182,17182,17182
unique,10969,19,19,68,14732,14715,14038
top,Management Trainee,Sarjana (S1),1 tahun,"Komputer/Teknologi Informasi,IT-Perangkat Lunak",Lowongan ini akan mengarahkan anda langsung ke...,lowongan ini akan mengarahkan anda langsung ke...,"['cash flow', 'management', 'target oriented',..."
freq,153,7247,4697,2142,60,60,150

#### Cleansing and Normalize Data

##### Experience Level

In [21]:
df['experience_level'].unique()

array(['5 tahun', '4 tahun', '2 tahun', '1 tahun', '3 tahun', '10 tahun',
       '6 tahun', '7 tahun', '14 tahun', '15 tahun', '8 tahun',
       '12 tahun', '9 tahun', '18 tahun', '20 tahun', '11 tahun',
       '16 tahun', 'Lebih dari 20 Tahun', '13 tahun'], dtype=object)

In [22]:
df['experience_years'] = (
    df['experience_level']
    .str.lower()
    .str.replace('lebih dari ', '20', regex=False)
    .str.extract('(\d+)')
    .astype(int)
)

print("Finish")

Finish

##### Education Level

In [23]:
df['education_level'].unique()

array(['Sertifikat Professional, D3 (Diploma), D4 (Diploma), Sarjana (S1)',
       'Sarjana (S1), Diploma Pascasarjana, Gelar Professional, Magister (S2)',
       'Sarjana (S1)', 'SMA, SMU/SMK/STM',
       'SMA, SMU/SMK/STM, Sertifikat Professional, D3 (Diploma), D4 (Diploma), Sarjana (S1)',
       'Tidak terspesifikasi',
       'SMA, SMU/SMK/STM, Sertifikat Professional, D3 (Diploma), D4 (Diploma)',
       'Sertifikat Professional, D3 (Diploma), D4 (Diploma), Sarjana (S1), Diploma Pascasarjana, Gelar Professional, Magister (S2)',
       'Sertifikat Professional, D3 (Diploma), D4 (Diploma)',
       'SMA, SMU/SMK/STM, Sarjana (S1)',
       'Sarjana (S1), Diploma Pascasarjana, Gelar Professional, Magister (S2), Doktor (S3)',
       'Diploma Pascasarjana, Gelar Professional, Magister (S2)',
       'Sertifikat Professional, D3 (Diploma), D4 (Diploma), Diploma Pascasarjana, Gelar Professional, Magister (S2)',
       'Diploma Pascasarjana, Gelar Professional, Magister (S2), Doktor (S3)',
       'Sertifikat Professional, D3 (Diploma), D4 (Diploma), Sarjana (S1), Doktor (S3)',
       'Doktor (S3)',
       'SMA, SMU/SMK/STM, Sarjana (S1), Diploma Pascasarjana, Gelar Professional, Magister (S2)',
       'SMA, SMU/SMK/STM, Sertifikat Professional, D3 (Diploma), D4 (Diploma), Diploma Pascasarjana, Gelar Professional, Magister (S2)',
       'Sarjana (S1), Doktor (S3)'], dtype=object)

In [24]:
import re
import pandas as pd

edu_map = {
    r'SMA|SMU|SMK|STM': ['sma', 'smk'],
    # r'Sertifikat Professional': ['sertifikat'],
    r'D3 \(Diploma\)': ['d3'],
    r'D4 \(Diploma\)': ['d4'],
    r'Sarjana \(S1\)': ['s1'],
    # r'Diploma Pascasarjana': ['pascasarjana'],
    # r'Gelar Professional': ['professional'],
    r'Magister \(S2\)': ['s2'],
    r'Doktor \(S3\)': ['s3']
}

def extract_education_levels(text):
    if pd.isna(text) or text == 'Tidak terspesifikasi':
        return []

    result = []

    for pattern, labels in edu_map.items():
        if re.search(pattern, text):
            result.extend(labels)

    return sorted(set(result))

In [25]:
df['education_norm'] = df['education_level'].apply(extract_education_levels)

print("Extract success")

Extract success

##### Job Function

In [53]:
job_function_mapping = {

    # Finance & Accounting
    "Akuntansi / Keuangan,Audit & Pajak": "Finance & Accounting",
    "Akuntansi / Keuangan,Akuntansi Umum / Pembiayaan": "Finance & Accounting",
    "Akuntansi / Keuangan,Perbankan / Jasa Finansial ": "Finance & Accounting",
    "Akuntansi / Keuangan,Keuangan / Investasi Perusahaan ": "Finance & Accounting",
    "Sains,Aktuaria/Statistik": "Finance & Accounting",

    # IT & Software
    "Komputer/Teknologi Informasi,IT-Perangkat Lunak": "IT & Software",
    "Komputer/Teknologi Informasi,IT-Admin Jaringan/Sistem/Database": "IT & Software",
    "Komputer/Teknologi Informasi,IT-Perangkat Keras": "IT & Software",

    # Engineering (Non-IT)
    "Teknik,Teknik Lingkungan": "Engineering",
    "Teknik,Teknik Lainnya": "Engineering",
    "Teknik,Mekanikal": "Engineering",
    "Teknik,Teknik Elektronika": "Engineering",
    "Teknik,Teknik Elektro": "Engineering",
    "Teknik,Teknik Industri": "Engineering",
    "Teknik,Teknik Kimia": "Engineering",
    "Bangunan/Konstruksi,Teknik Sipil/Konstruksi Bangunan": "Engineering",
    "Bangunan/Konstruksi,Survei Kuantitas": "Engineering",

    # Manufacturing & Operations
    "Manufaktur,Manufaktur": "Manufacturing & Operations",
    "Manufaktur,Pemeliharaan": "Manufacturing & Operations",
    "Manufaktur,Pembelian/Manajemen Material": "Manufacturing & Operations",
    "Manufaktur,Penjaminan Kualitas / QA": "Manufacturing & Operations",
    "Pelayanan,Logistik/Rantai Pasokan": "Manufacturing & Operations",

    # Sales & Marketing
    "Penjualan / Pemasaran,Pemasaran/Pengembangan Bisnis": "Sales & Marketing",
    "Penjualan / Pemasaran,Digital Marketing": "Sales & Marketing",
    "Penjualan / Pemasaran,Penjualan - Jasa Keuangan": "Sales & Marketing",
    # "Penjualan / Pemasaran,Penjualan - Teknik/Teknikal/IT": "Sales & Marketing",
    "Penjualan / Pemasaran,Penjualan Ritel": "Sales & Marketing",
    "Penjualan / Pemasaran,Merchandising": "Sales & Marketing",
    "Penjualan / Pemasaran,Penjualan - Korporasi": "Sales & Marketing",
    "Penjualan / Pemasaran,Telesales/Telemarketing": "Sales & Marketing",
    "Penjualan / Pemasaran,E-commerce": "Sales & Marketing",
    "Seni/Media/Komunikasi,Periklanan": "Sales & Marketing",

    # HR & Administration
    "Sumber Daya Manusia/Personalia,Sumber Daya Manusia / HR": "HR & Administration",
    "Sumber Daya Manusia/Personalia,Staf / Administrasi umum": "HR & Administration",
    "Sumber Daya Manusia/Personalia,Sekretaris": "HR & Administration",
    "Sumber Daya Manusia/Personalia,Top Management / Manajemen Tingkat Atas": "HR & Administration",

    # Creative & Media
    "Seni/Media/Komunikasi,Seni / Desain Kreatif": "Creative & Media",
    "Seni/Media/Komunikasi,Hubungan Masyarakat": "Creative & Media",
    "Seni/Media/Komunikasi,Hiburan": "Creative & Media",
    "Lainnya,Jurnalis/Editor": "Creative & Media",

    # Healthcare & Life Sciences
    "Layanan Kesehatan,Diagnosa/Lainnya": "Healthcare",
    "Layanan Kesehatan,Farmasi": "Healthcare",
    "Layanan Kesehatan,Praktisi/Asisten Medis": "Healthcare",
    "Sains,Bioteknologi": "Healthcare",
    "Sains,Biomedis": "Healthcare",
    "Sains,Kimia": "Healthcare",
    "Sains,Geologi/Geofisika": "Healthcare",

    # Education & Training
    "Pendidikan/Pelatihan,Pendidikan": "Education",
    "Pendidikan/Pelatihan,Pelatihan & Pengembangan": "Education",

    # Hospitality & Service
    "Hotel/Restoran,Makanan/Minuman/Pelayanan Restoran": "Hospitality & Service",
    "Hotel/Restoran,Hotel/Pariwisata": "Hospitality & Service",
    "Pelayanan,Layanan Pelanggan": "Hospitality & Service",
    "Pelayanan,Teknikal & Bantuan Pelanggan": "Hospitality & Service",
    "Pelayanan,Perawatan Pribadi": "Hospitality & Service",

    # Legal & Public Service
    "Pelayanan,Pengacara / Asisten Legal": "Legal & Public Service",
    "Pelayanan,Angkatan Bersenjata": "Legal & Public Service",

    # Science & Agriculture
    "Sains,Pertanian": "Science & Agriculture",
    "Sains,Teknologi Makanan/Ahli Gizi": "Science & Agriculture",
    "Sains,Sains & Teknologi": "Science & Agriculture",

    # Other
    "Bangunan/Konstruksi,Arsitek/Desain Interior": "Other",
    "Bangunan/Konstruksi,Properti/Real Estate": "Other",
    "Lainnya,Pekerjaan Umum": "Other",
    "Lainnya,Lainnya/Kategori tidak tersedia": "Other",
}

df["job_function_group"] = (
    df["job_function"]
    .map(job_function_mapping)
    .fillna("Other")
)

print("Finish")

Finish

#### Labeling

In [27]:
import re

def clean_text(t):
    t = t.lower()
    t = re.sub(r"\(.*?\)", " ", t)
    t = re.sub(r"[^a-z ]", " ", t)
    t = re.sub(r"\s+", " ", t)
    return t.strip()

job_label = {
    "IT_Software_Data": [
        "developer", "programmer", "software", "engineer", "data",
        "database", "it ", "it-", "network", "infra", "devops",
        "sysadmin", "system analyst", "qa", "tester", "product owner",
        "it support", "security", "sap", "abap"
    ],
    "Finance_Accounting_Tax": [
        "accounting", "accountant", "finance", "financial",
        "tax", "pajak", "treasury", "controller", "auditor",
        "ap ", "ar ", "payable", "receivable", "actuary"
    ],
    "Sales": [
        "sales", "account executive", "account manager",
        "business development", "bd ", "sales executive",
        "sales representative", "salesman", "bancassurance",
        "marketing consultant", "sales consultant",
        "relationship manager", "rm ", "konsultan asuransi"
    ],
    "Marketing_Digital": [
        "marketing", "digital marketing", "marcomm", "brand",
        "branding", "social media", "content", "seo",
        "sem", "campaign", "pr ", "public relation",
        "copywriter", "creative", "growth", "performance marketing"
    ],
    "HR_GA_People": [
        "hr ", "human resource", "human resources", "talent acquisition",
        "recruitment", "recruiter", "people development",
        "learning & development", "training", "trainer",
        "ga ", "general affair", "industrial relation",
        "organization development", "compensation", "benefit"
    ],
    "Operations_SupplyChain_Logistics": [
        "operation", "operations", "warehouse", "gudang",
        "logistic", "logistics", "supply chain", "distribution",
        "fleet", "transport", "procurement", "purchasing",
        "buyer", "inventory", "ppic", "production planning"
    ],
    "Engineering_NonIT": [
        "mechanical", "electrical", "civil", "mep",
        "maintenance", "technician", "teknisi", "drafter",
        "me engineer", "structure engineer", "site engineer",
        "project engineer", "utility", "hvac"
    ],
    "Legal_Compliance_Risk_Audit_Actuary": [
        "legal", "lawyer", "counsel", "compliance",
        "risk", "credit risk", "internal audit",
        "auditor", "governance", "actuary", "corporate secretary"
    ],
    "Healthcare": [
        "dokter", "doctor", "general practitioner",
        "perawat", "nurse", "apoteker", "pharmacist",
        "medical representative", "medrep", "nutrition",
        "clinical", "healthcare"
    ],
    "Education_Training": [
        "teacher", "guru", "lecturer", "dosen",
        "trainer", "instructor", "coach", "tutor",
        "education consultant", "principal", "school",
        "pengajar"
    ],
    "Hospitality_FnB": [
        "chef", "cook", "kitchen", "restaurant",
        "restoran", "outlet manager", "hotel",
        "housekeeping", "fnb", "f&b", "barista",
        "waiter", "waitress"
    ]
}

In [28]:
# prioritas kategori (urutannya penting)
priority = list(job_label.keys())

def assign_label(raw_title):
    t = clean_text(raw_title)
    t_pad = " " + t + " "  # biar cari kata utuh lebih gampang
    for cat in priority:
        for kw in job_label[cat]:
            if kw in t_pad:
                return cat
    return "Other"

labels = [assign_label(t) for t in df['job_title']]

In [40]:
LABEL_KEYWORDS = {
    "Data": [
        "data", "analyst", "analytics", "scientist", "machine learning", "ml", "ai"
    ],
    "Tech": [
        "developer", "programmer", "software", "engineer", "backend",
        "frontend", "fullstack", "devops", "cloud", "it ", "it-"
    ],
    "Marketing": [
        "marketing", "digital marketing", "seo", "content",
        "brand", "promotion", "growth"
    ],
    "Sales": [
        "sales", "account executive", "business development",
        "relationship", "key account", "bd"
    ],
    "Finance": [
        "finance", "accounting", "accountant", "auditor",
        "tax", "treasury", "financial"
    ],
    "HR": [
        "hr", "human resource", "recruiter",
        "talent", "people development"
    ],
    "Operations": [
        "operation", "operations", "logistic", "warehouse",
        "supply chain", "procurement", "admin", "staff"
    ],
    "Design": [
        "designer", "ui", "ux", "graphic", "visual"
    ],
    "Education": [
        "teacher", "lecturer", "instructor", "tutor"
    ],
    "Healthcare": [
        "doctor", "medical", "nurse", "clinic", "hospital"
    ]
}

In [ ]:
def classify_job(title):
    if not isinstance(title, str):
        return "Other"

    title = title.lower()

    for label, keywords in LABEL_KEYWORDS.items():
        for kw in keywords:
            if kw in title:
                return label

    return "Other"

df['label2'] = df['job_title'].apply(classify_job)

In [42]:
df['label']= labels
df.head()

,job_title,education_level,experience_level,job_function,job_description,job_description_cleaned,skills,experience_years,education_norm,label,job_function_group,label2
0,Facility Maintenance & Smart Warehouse Manager,"Sertifikat Professional, D3 (Diploma), D4 (Dip...",5 tahun,"Manufaktur,Pemeliharaan",Deskripsi PekerjaanRequirements :D3/SI from re...,deskripsi pekerjaanrequirements si from reputa...,"['electrical inspection', 'management system',...",5,"[d3, d4, s1]",Operations_SupplyChain_Logistics,Manufacturing & Operations,Data
1,Procurement Department Head,"Sarjana (S1), Diploma Pascasarjana, Gelar Prof...",5 tahun,"Manufaktur,Pembelian/Manajemen Material",Job Role: 1. Responsible for material availabi...,job role responsible for material availabili...,"['heavy equipment', 'contract management', 'pr...",5,"[s1, s2]",Operations_SupplyChain_Logistics,Manufacturing & Operations,Operations
2,SALES ADMIN,Sarjana (S1),4 tahun,"Penjualan / Pemasaran,Penjualan Ritel",Internal Sales & AdminJob Description :We are ...,internal sales adminjob description we are loo...,"['microsoft office', 'heat exchanger', 'carbon...",4,[s1],Sales,Sales & Marketing,Sales
3,City Operation Lead Shopee Express (Cirebon),"Sarjana (S1), Diploma Pascasarjana, Gelar Prof...",5 tahun,"Pelayanan,Logistik/Rantai Pasokan",Job Description:Responsible for HSE implementa...,job description responsible for hse implementa...,"['operation management', 'analytical skill', '...",5,"[s1, s2]",Operations_SupplyChain_Logistics,Manufacturing & Operations,Operations
4,Japanese Interpreter,"Sertifikat Professional, D3 (Diploma), D4 (Dip...",2 tahun,"Lainnya,Jurnalis/Editor",Overview: Our clients is manufacture for autom...,overview our clients is manufacture for automo...,"['japanese', 'translator', 'english', 'non', '...",2,"[d3, d4, s1]",Other,Creative & Media,Other

### Modeling

In [54]:
col= [
    'label',
    'label2',
    # 'job_title',
    'education_norm',
    'experience_years',
    # 'job_description',
    # 'job_description_cleaned',
    'job_function_group',
    'skills']

df_model = df[col].copy()
df_model.head()

,label,label2,education_norm,experience_years,job_function_group,skills
0,Operations_SupplyChain_Logistics,Data,"[d3, d4, s1]",5,Manufacturing & Operations,"['electrical inspection', 'management system',..."
1,Operations_SupplyChain_Logistics,Operations,"[s1, s2]",5,Manufacturing & Operations,"['heavy equipment', 'contract management', 'pr..."
2,Sales,Sales,[s1],4,Sales & Marketing,"['microsoft office', 'heat exchanger', 'carbon..."
3,Operations_SupplyChain_Logistics,Operations,"[s1, s2]",5,Manufacturing & Operations,"['operation management', 'analytical skill', '..."
4,Other,Other,"[d3, d4, s1]",2,Creative & Media,"['japanese', 'translator', 'english', 'non', '..."

In [36]:
df_model['label'].value_counts()

label
Other                                  5045
IT_Software_Data                       3659
Sales                                  2693
Marketing_Digital                      1648
Finance_Accounting_Tax                 1468
Operations_SupplyChain_Logistics        905
HR_GA_People                            724
Engineering_NonIT                       318
Education_Training                      243
Legal_Compliance_Risk_Audit_Actuary     212
Hospitality_FnB                         179
Healthcare                               88
Name: count, dtype: int64

In [44]:
df_model['label2'].value_counts()

label2
Other         5011
Tech          3014
Sales         2165
Marketing     1674
Data          1376
Operations    1318
Finance       1229
Design         567
HR             546
Education      202
Healthcare      80
Name: count, dtype: int64

In [55]:
df_model['job_function_group'].value_counts()

job_function_group
Sales & Marketing             5073
IT & Software                 2895
Finance & Accounting          1929
Manufacturing & Operations    1638
HR & Administration           1269
Engineering                   1181
Other                          950
Creative & Media               714
Hospitality & Service          587
Education                      438
Legal & Public Service         207
Healthcare                     180
Science & Agriculture          121
Name: count, dtype: int64