## Skill Extraction Notebook

### Import Library

In [1]:
import pandas as pd

### Data Wrangling

#### Gathering Data

In [2]:
df = pd.read_csv('../../data/all.csv', delimiter='|')
df.head()

,id,job_title,location,salary_currency,career_level,experience_level,education_level,employment_type,job_function,job_benefits,company_process_time,company_size,company_industry,job_description,salary
0,1,Facility Maintenance & Smart Warehouse Manager,Bandung,IDR,Manajer/Asisten Manajer,5 tahun,"Sertifikat Professional, D3 (Diploma), D4 (Dip...",Penuh Waktu,"Manufaktur,Pemeliharaan",NaN,NaN,NaN,NaN,Deskripsi PekerjaanRequirements :D3/SI from re...,NaN
1,2,Procurement Department Head,Jakarta Raya,IDR,Manajer/Asisten Manajer,5 tahun,"Sarjana (S1), Diploma Pascasarjana, Gelar Prof...",Penuh Waktu,"Manufaktur,Pembelian/Manajemen Material",NaN,25 days,51 - 200 pekerja,Manajemen/Konsulting HR,Job Role: 1. Responsible for material availabi...,NaN
2,3,SALES ADMIN,Jakarta Barat,IDR,Supervisor/Koordinator,4 tahun,Sarjana (S1),Penuh Waktu,"Penjualan / Pemasaran,Penjualan Ritel","Waktu regular, Senin - Jumat;Bisnis (contoh: K...",30 days,51 - 200 pekerja,Umum & Grosir,Internal Sales & AdminJob Description :We are ...,NaN
3,4,City Operation Lead Shopee Express (Cirebon),Cirebon,IDR,Supervisor/Koordinator,5 tahun,"Sarjana (S1), Diploma Pascasarjana, Gelar Prof...",Penuh Waktu,"Pelayanan,Logistik/Rantai Pasokan","Tip;Waktu regular, Senin - Jumat;Kasual (conto...",21 days,2001 - 5000 pekerja,Retail/Merchandise,Job Description:Responsible for HSE implementa...,NaN
4,5,Japanese Interpreter,Bekasi,IDR,Pegawai (non-manajemen & non-supervisor),2 tahun,"Sertifikat Professional, D3 (Diploma), D4 (Dip...",Penuh Waktu,"Lainnya,Jurnalis/Editor",NaN,23 days,201 - 500 pekerja,Manajemen/Konsulting HR,Overview: Our clients is manufacture for autom...,NaN

#### Assessing Data

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34746 entries, 0 to 34745
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    34746 non-null  int64
 1   job_title             34746 non-null  object
 2   location              34746 non-null  object
 3   salary_currency       34742 non-null  object
 4   career_level          34746 non-null  object
 5   experience_level      30205 non-null  object
 6   education_level       34746 non-null  object
 7   employment_type       33402 non-null  object
 8   job_function          34746 non-null  object
 9   job_benefits          27330 non-null  object
 10  company_process_time  24555 non-null  object
 11  company_size          29103 non-null  object
 12  company_industry      33132 non-null  object
 13  job_description       34745 non-null  object
 14  salary                9352 non-null   float64
dtypes: float64(1), int64(1), object(13)
memory usage: 4.0+ MB

In [4]:
df.isnull().sum()

id                          0
job_title                   0
location                    0
salary_currency             4
career_level                0
experience_level         4541
education_level             0
employment_type          1344
job_function                0
job_benefits             7416
company_process_time    10191
company_size             5643
company_industry         1614
job_description             1
salary                  25394
dtype: int64

In [5]:
duplicate = df.duplicated().sum()
print(f"duplikat data: {duplicate}")

duplikat data: 0

#### Cleaning Data

In [6]:
df_clean = df[['id','job_title', 'job_description']].copy()

df_clean.isnull().sum()

id                 0
job_title          0
job_description    1
dtype: int64

In [7]:
df_clean = df_clean.dropna(subset=['job_description'])

df_clean.isnull().sum()

id                 0
job_title          0
job_description    0
dtype: int64

### EDA - Skill extraction

#### Set Dataframe

In [8]:
df_eda = df_clean.head(1000).copy()
df_eda.head()

,id,job_title,job_description
0,1,Facility Maintenance & Smart Warehouse Manager,Deskripsi PekerjaanRequirements :D3/SI from re...
1,2,Procurement Department Head,Job Role: 1. Responsible for material availabi...
2,3,SALES ADMIN,Internal Sales & AdminJob Description :We are ...
3,4,City Operation Lead Shopee Express (Cirebon),Job Description:Responsible for HSE implementa...
4,5,Japanese Interpreter,Overview: Our clients is manufacture for autom...

##### Cleaning Job description text

In [18]:
import re
import string

def clean_text(text):
    text = text.lower()
    text = re.sub(r'\w*\d\w*', ' ', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), ' ', text)
    text = re.sub(' +', ' ', text)
    # text = remove_stopwords(text)
    # text = lemmatize(text)
    return text

df_eda['job_description_cleaned'] = df_eda['job_description'].apply(clean_text)

In [19]:
df_eda.head()

,id,job_title,job_description,job_description_cleaned
0,1,Facility Maintenance & Smart Warehouse Manager,Deskripsi PekerjaanRequirements :D3/SI from re...,deskripsi pekerjaanrequirements si from reputa...
1,2,Procurement Department Head,Job Role: 1. Responsible for material availabi...,job role responsible for material availabili...
2,3,SALES ADMIN,Internal Sales & AdminJob Description :We are ...,internal sales adminjob description we are loo...
3,4,City Operation Lead Shopee Express (Cirebon),Job Description:Responsible for HSE implementa...,job description responsible for hse implementa...
4,5,Japanese Interpreter,Overview: Our clients is manufacture for autom...,overview our clients is manufacture for automo...

#### Extraction

Extraction Setup

In [20]:
import spacy
from skillNer.skill_extractor_class import SkillExtractor
from spacy.matcher import PhraseMatcher
from skillNer.general_params import SKILL_DB

nlp = spacy.load("en_core_web_lg")

skill_extractor = SkillExtractor(
    nlp,
    SKILL_DB,
    PhraseMatcher
)

def extract_doc_node_values(annotation_result):
    if not isinstance(annotation_result, dict) or 'results' not in annotation_result:
        return []

    doc_node_values = []
    results = annotation_result['results']

    if 'full_matches' in results:
        for match in results['full_matches']:
            doc_node_values.append(match['doc_node_value'])

    if 'ngram_scored' in results:
        for match in results['ngram_scored']:
            doc_node_values.append(match['doc_node_value'])

    return doc_node_values

loading full_matcher ...
loading abv_matcher ...
loading full_uni_matcher ...
loading low_form_matcher ...
loading token_matcher ...

In [21]:
test = "We need someone with strong procurement, logistics, and leadership skills."
ann = skill_extractor.annotate(test)
extract_doc_node_values(ann)

['procurement', 'logistics', 'leadership']

Extracting Proccess

In [ ]:
from tqdm import tqdm

# annotations = []
# for idx, text in tqdm(enumerate(df_eda['job_description_cleaned'].astype(str)), 
#                        total=len(df_eda),
#                        desc="Extracting skills"):
#     try:
#         ann = skill_extractor.annotate(text)
#     except Exception as e:
#         print(f"[SKIPPED] Index {idx} | Error: {e} | Text: {text[:80]}...")
#         ann = None   # biar aman
#     annotations.append(ann)

# df_eda['annotations'] = annotations

# df_eda['skills'] = df_eda['annotations'].apply(
#     lambda x: extract_doc_node_values(x) if isinstance(x, dict) else []
# )

Extracting skills:   0%|          | 2/1000 [00:02<20:36,  1.24s/it]d:\DICODING\BOOTCAMP DATA SCIENTIST\capstone\Career-Path-Navigator\env\Lib\site-packages\skillNer\utils.py:99: UserWarning: [W008] Evaluating Token.similarity based on empty vectors.
  vec_similarity = token1.similarity(token2)
Extracting skills:  28%|██▊       | 278/1000 [07:52<47:52,  3.98s/it]

[SKIPPED] Index 277 | Error: 'grow' is not in list | Text: xendit provides payment infrastructure across southeast asia with a focus on ind...

Extracting skills:  67%|██████▋   | 671/1000 [21:51<1:27:59, 16.05s/it]

[SKIPPED] Index 670 | Error: 'mark' is not in list | Text: ericsson country unit  indonesialocation  jakartatravel required  up to open to ...

Extracting skills: 100%|██████████| 1000/1000 [30:18<00:00,  1.82s/it]

In [23]:
df_eda.head()

,id,job_title,job_description,job_description_cleaned,annotations,skills
0,1,Facility Maintenance & Smart Warehouse Manager,Deskripsi PekerjaanRequirements :D3/SI from re...,deskripsi pekerjaanrequirements si from reputa...,{'text': 'deskripsi pekerjaanrequirements si f...,"[electrical inspection, management system, cor..."
1,2,Procurement Department Head,Job Role: 1. Responsible for material availabi...,job role responsible for material availabili...,{'text': 'job role responsible for material av...,"[heavy equipment, contract management, heavy e..."
2,3,SALES ADMIN,Internal Sales & AdminJob Description :We are ...,internal sales adminjob description we are loo...,{'text': 'internal sales adminjob description ...,"[microsoft office, heat exchanger, heat exchan..."
3,4,City Operation Lead Shopee Express (Cirebon),Job Description:Responsible for HSE implementa...,job description responsible for hse implementa...,{'text': 'job description responsible for hse ...,"[job description, operation management, analyt..."
4,5,Japanese Interpreter,Overview: Our clients is manufacture for autom...,overview our clients is manufacture for automo...,{'text': 'overview our clients is manufacture ...,"[job description, japanese, japanese, japanese..."

#### Export Dataframe

In [25]:
df_eda.to_csv("df_skill_extraction_output.csv", index=False)

In [29]:
df_skill = pd.read_csv("df_skill_extraction_output.csv")
df_skill[['job_title', 'skills']].head(50)

,job_title,skills
0,Facility Maintenance & Smart Warehouse Manager,"['electrical inspection', 'management system',..."
1,Procurement Department Head,"['heavy equipment', 'contract management', 'he..."
2,SALES ADMIN,"['microsoft office', 'heat exchanger', 'heat e..."
3,City Operation Lead Shopee Express (Cirebon),"['job description', 'operation management', 'a..."
4,Japanese Interpreter,"['job description', 'japanese', 'japanese', 'j..."
5,KEPALA PABRIK,"['microsoft word', 'leadership']"
6,Admin Online Shop,"['e commerce', 'social medium', 'hal', 'broadc..."
7,Accounting Staff,"['fix asset', 'analytical thinking', 'reconcil..."
8,MEP Design - Cikarang,"['design review', 'structural engineering', 'e..."
9,Tax Supervisor,"['income tax', 'tax compliance', 'digital elec..."
10,Odoo Developer / IT Full Stack Developer,"['system development', 'learn agility', 'mobil..."
11,Identity and Access Management Staff - IT,"['computer science', 'information science', 'm..."
12,Sales Project,"['job description', 'interior design', 'interi..."
13,Analis Kesehatan & Laboratorium,[]
14,Head Barista,[]
15,Property Sales,"['mobile app', 'digital marketing', 'sales', '..."
16,Sales & Marketing Manager,"['interpersonal communication', 'sales']"
17,Sales Recruiter & Trainer,"['business development', 'www', 'energetic', '..."
18,Accounting Staff,"['data data', 'filing', 'dari']"
19,SALES MOTORIS - PONTIANAK,"['target', 'target', 'target', 'sales', 'consu..."
20,Horeca / Institution Account Executive,"['business partner', 'java']"
21,Sales Officer,"['write communication', 'effective sales', 'sa..."
22,Senior Staff Purchasing,"['microsoft office', 'target', 'dari', 'hvac',..."
23,Internal Trainer & Researcher,"['asp net', 'php', 'dari']"
24,Field Operation Lead (EXIM),"['certificate of origin', 'claim', 'exim', 'ex..."
25,Bancassurance Consultant (Cilegon),"['bank', 'bank', 'sales', 'target']"
26,MARKETING COMMUNICATION & CHANNEL MANAGER,"['marketing communication', 'strategic communi..."
27,Store Supervisor Manado Town Square,"['customer service', 'customer service', 'oper..."
28,Mechanic,['genset']
29,Beauty Therapist (Eyelash Extension & Nail Art),"['eyelash extension', 'nail art', 'eyelash ext..."
30,Regional Agency Development (Makassar),"['sales', 'development manager', 'akan']"
31,PPIC,"['warehouse management', 'inventory control', ..."
32,Strategic Management Office Executive,"['corporate strategy', 'strategic management',..."
33,"Technical Program Manager, Infosec","['risk management', 'contingency plan', 'opera..."
34,C# Advanced/Senior Developer,"['asp net', 'object orient programming', 'c', ..."
35,Manager Tiktok Shop And Tiktok Live,"['tiktok', 'tiktok', 'tiktok', 'tiktok']"
36,Internal Communication Officer,"['human capital', 'employee engagement', 'inte..."
37,IT Software Developer Staff,"['information technology', 'restful api', 'spr..."
38,Asisten Penerjemah,"['hal', 'hal', 'proofreading', 'bahasa', 'dari..."
39,IT STAFF (CODE : IT),"['information system', 'project implementation..."
40,Backend Developer,"['operating system', 'asp net', 'software as a..."
41,Digital Marketing Specialist,"['digital marketing', 'digital marketing', 'so..."
42,Supervisor Finance Accounting,"['microsoft office', 'accountant', 'accounting..."
43,Teknik Sipil,"['ada', 'dari']"
44,BANCASSURANCE SPECIALIST - SURABAYA,"['akan', 'bank', 'bank', 'bank', 'bank', 'bank..."
45,Senior Manager - Manufacturing Operations,"['manufacture operation', 'quality cost delive..."
46,Area Marketing New Car,"['market share', 'target', 'dari', 'ada', 'ada..."
47,ACCOUNTING,"['cash flow', 'packaging food', 'voucher', 'ac..."
48,IT Support,"['computer security', 'operating system', 'win..."
49,Strategik Konten,['dari']

#### Cleaning Job title text

In [16]:
# import string

# # 1. Ganti simbol & / - / () dengan koma
# df_eda['job_title_clean'] = (
#     df_eda['job_title']
#     .str.replace(f"[{string.punctuation}]", ",", regex=True)
#     .str.replace(r"\s+", " ", regex=True)       # rapikan spasi
#     .str.strip()
# )

# # 2. Ubah menjadi list (array) dan lowercase tiap elemen
# df_eda['job_title_array'] = df_eda['job_title_clean'].str.split(',')

# # 3. Hapus kolom sementara
# df_eda.drop('job_title_clean', axis=1, inplace=True)

# df_eda.head(10)

In [17]:
# df_with_punct = df_eda[df_eda['job_title'].str.contains(r'[^\w\s]')]
# df_with_punct[['job_title', 'job_title_array']].head(20)

In [30]:
import pandas as pd

url = "https://raw.githubusercontent.com/Caknoooo/provinces-cities-indonesia/main/csv/regencies.csv"

df_cities = pd.read_csv(url)
cities = df_cities['regency'].str.lower().unique().tolist()

df_cities.head()

     id  province_id        regency       type
0  1101           11       Simeulue  Kabupaten
1  1102           11   Aceh Singkil  Kabupaten
2  1103           11   Aceh Selatan  Kabupaten
3  1104           11  Aceh Tenggara  Kabupaten
4  1105           11     Aceh Timur  Kabupaten