## Skill Extraction Notebook

### Import Library

In [2]:
import pandas as pd
from translate import Translator

### Data Wrangling

#### Gathering Data

In [9]:
df = pd.read_csv('../../data/all.csv', delimiter='|')
df.head()

,id,job_title,location,salary_currency,career_level,experience_level,education_level,employment_type,job_function,job_benefits,company_process_time,company_size,company_industry,job_description,salary
0,1,Facility Maintenance & Smart Warehouse Manager,Bandung,IDR,Manajer/Asisten Manajer,5 tahun,"Sertifikat Professional, D3 (Diploma), D4 (Dip...",Penuh Waktu,"Manufaktur,Pemeliharaan",NaN,NaN,NaN,NaN,Deskripsi PekerjaanRequirements :D3/SI from re...,NaN
1,2,Procurement Department Head,Jakarta Raya,IDR,Manajer/Asisten Manajer,5 tahun,"Sarjana (S1), Diploma Pascasarjana, Gelar Prof...",Penuh Waktu,"Manufaktur,Pembelian/Manajemen Material",NaN,25 days,51 - 200 pekerja,Manajemen/Konsulting HR,Job Role: 1. Responsible for material availabi...,NaN
2,3,SALES ADMIN,Jakarta Barat,IDR,Supervisor/Koordinator,4 tahun,Sarjana (S1),Penuh Waktu,"Penjualan / Pemasaran,Penjualan Ritel","Waktu regular, Senin - Jumat;Bisnis (contoh: K...",30 days,51 - 200 pekerja,Umum & Grosir,Internal Sales & AdminJob Description :We are ...,NaN
3,4,City Operation Lead Shopee Express (Cirebon),Cirebon,IDR,Supervisor/Koordinator,5 tahun,"Sarjana (S1), Diploma Pascasarjana, Gelar Prof...",Penuh Waktu,"Pelayanan,Logistik/Rantai Pasokan","Tip;Waktu regular, Senin - Jumat;Kasual (conto...",21 days,2001 - 5000 pekerja,Retail/Merchandise,Job Description:Responsible for HSE implementa...,NaN
4,5,Japanese Interpreter,Bekasi,IDR,Pegawai (non-manajemen & non-supervisor),2 tahun,"Sertifikat Professional, D3 (Diploma), D4 (Dip...",Penuh Waktu,"Lainnya,Jurnalis/Editor",NaN,23 days,201 - 500 pekerja,Manajemen/Konsulting HR,Overview: Our clients is manufacture for autom...,NaN

#### Assessing Data

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34746 entries, 0 to 34745
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    34746 non-null  int64
 1   job_title             34746 non-null  object
 2   location              34746 non-null  object
 3   salary_currency       34742 non-null  object
 4   career_level          34746 non-null  object
 5   experience_level      30205 non-null  object
 6   education_level       34746 non-null  object
 7   employment_type       33402 non-null  object
 8   job_function          34746 non-null  object
 9   job_benefits          27330 non-null  object
 10  company_process_time  24555 non-null  object
 11  company_size          29103 non-null  object
 12  company_industry      33132 non-null  object
 13  job_description       34745 non-null  object
 14  salary                9352 non-null   float64
dtypes: float64(1), int64(1), object(13)
memory usage: 4.0+ MB

In [11]:
df.isnull().sum()

id                          0
job_title                   0
location                    0
salary_currency             4
career_level                0
experience_level         4541
education_level             0
employment_type          1344
job_function                0
job_benefits             7416
company_process_time    10191
company_size             5643
company_industry         1614
job_description             1
salary                  25394
dtype: int64

In [12]:
duplicate = df.duplicated().sum()
print(f"duplikat data: {duplicate}")

duplikat data: 0

#### Cleaning Data

In [13]:
df_clean = df[['id','job_title', 'job_description']].copy()

df_clean.isnull().sum()

id                 0
job_title          0
job_description    1
dtype: int64

In [14]:
df_clean = df_clean.dropna(subset=['job_description'])

df_clean.isnull().sum()

id                 0
job_title          0
job_description    0
dtype: int64

### EDA - Skill extraction

#### Set Dataframe

In [26]:
df_eda = df_clean.head(100).copy()
df_eda.head()

,id,job_title,job_description
0,1,Facility Maintenance & Smart Warehouse Manager,Deskripsi PekerjaanRequirements :D3/SI from re...
1,2,Procurement Department Head,Job Role: 1. Responsible for material availabi...
2,3,SALES ADMIN,Internal Sales & AdminJob Description :We are ...
3,4,City Operation Lead Shopee Express (Cirebon),Job Description:Responsible for HSE implementa...
4,5,Japanese Interpreter,Overview: Our clients is manufacture for autom...

#### Cleaning text

In [28]:
import string

# 1. Ganti simbol & / - / () dengan koma
df_eda['job_title_clean'] = (
    df_eda['job_title']
    .str.replace(f"[{string.punctuation}]", ",", regex=True)
    .str.replace(r"\s+", " ", regex=True)       # rapikan spasi
    .str.strip()
)

# 2. Ubah menjadi list (array) dan lowercase tiap elemen
df_eda['job_title_array'] = df_eda['job_title_clean'].str.split(',')

# 3. Hapus kolom sementara
df_eda.drop('job_title_clean', axis=1, inplace=True)

df_eda.head(10)

,id,job_title,job_description,job_title_array
0,1,Facility Maintenance & Smart Warehouse Manager,Deskripsi PekerjaanRequirements :D3/SI from re...,"[Facility Maintenance , Smart Warehouse Manager]"
1,2,Procurement Department Head,Job Role: 1. Responsible for material availabi...,[Procurement Department Head]
2,3,SALES ADMIN,Internal Sales & AdminJob Description :We are ...,[SALES ADMIN]
3,4,City Operation Lead Shopee Express (Cirebon),Job Description:Responsible for HSE implementa...,"[City Operation Lead Shopee Express , Cirebon, ]"
4,5,Japanese Interpreter,Overview: Our clients is manufacture for autom...,[Japanese Interpreter]
5,6,KEPALA PABRIK,"Tedmond Groups membuka Lowongan Kepala Pabrik,...",[KEPALA PABRIK]
6,7,Admin Online Shop,Deskripsi Pekerjaan:Dapat menggunakan aplikasi...,[Admin Online Shop]
7,8,Accounting Staff,Job Responsibilities :To maintain fixed asset ...,[Accounting Staff]
8,9,MEP Design - Cikarang,Job Responsibilites:Manage the MEP design of t...,"[MEP Design , Cikarang]"
9,10,Tax Supervisor,ResponsibilitiesPrepare corporate income tax (...,[Tax Supervisor]

In [29]:
df_with_punct = df_eda[df_eda['job_title'].str.contains(r'[^\w\s]')]
df_with_punct[['job_title', 'job_title_array']].head(20)

,job_title,job_title_array
0,Facility Maintenance & Smart Warehouse Manager,"[Facility Maintenance , Smart Warehouse Manager]"
3,City Operation Lead Shopee Express (Cirebon),"[City Operation Lead Shopee Express , Cirebon, ]"
8,MEP Design - Cikarang,"[MEP Design , Cikarang]"
10,Odoo Developer / IT Full Stack Developer,"[Odoo Developer , IT Full Stack Developer]"
11,Identity and Access Management Staff - IT,"[Identity and Access Management Staff , IT]"
13,Analis Kesehatan & Laboratorium,"[Analis Kesehatan , Laboratorium]"
16,Sales & Marketing Manager,"[Sales , Marketing Manager]"
17,Sales Recruiter & Trainer,"[Sales Recruiter , Trainer]"
19,SALES MOTORIS - PONTIANAK,"[SALES MOTORIS , PONTIANAK]"
20,Horeca / Institution Account Executive,"[Horeca , Institution Account Executive]"
23,Internal Trainer & Researcher,"[Internal Trainer , Researcher]"
24,Field Operation Lead (EXIM),"[Field Operation Lead , EXIM, ]"
25,Bancassurance Consultant (Cilegon),"[Bancassurance Consultant , Cilegon, ]"
26,MARKETING COMMUNICATION & CHANNEL MANAGER,"[MARKETING COMMUNICATION , CHANNEL MANAGER]"
29,Beauty Therapist (Eyelash Extension & Nail Art),"[Beauty Therapist , Eyelash Extension , Nail ..."
30,Regional Agency Development (Makassar),"[Regional Agency Development , Makassar, ]"
33,"Technical Program Manager, Infosec","[Technical Program Manager, Infosec]"
34,C# Advanced/Senior Developer,"[C, Advanced, Senior Developer]"
39,IT STAFF (CODE : IT),"[IT STAFF , CODE , IT, ]"
44,BANCASSURANCE SPECIALIST - SURABAYA,"[BANCASSURANCE SPECIALIST , SURABAYA]"

In [30]:
import re
import string

def clean_text(text):
    text = text.lower()
    text = re.sub(r'\w*\d\w*', ' ', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), ' ', text)
    text = re.sub(' +', ' ', text)
    # text = remove_stopwords(text)
    # text = lemmatize(text)
    return text

df_eda['job_description_cleaned'] = df_eda['job_description'].apply(clean_text)

In [31]:
df_eda.head()

,id,job_title,job_description,job_title_array,job_description_cleaned
0,1,Facility Maintenance & Smart Warehouse Manager,Deskripsi PekerjaanRequirements :D3/SI from re...,"[Facility Maintenance , Smart Warehouse Manager]",deskripsi pekerjaanrequirements si from reputa...
1,2,Procurement Department Head,Job Role: 1. Responsible for material availabi...,[Procurement Department Head],job role responsible for material availabili...
2,3,SALES ADMIN,Internal Sales & AdminJob Description :We are ...,[SALES ADMIN],internal sales adminjob description we are loo...
3,4,City Operation Lead Shopee Express (Cirebon),Job Description:Responsible for HSE implementa...,"[City Operation Lead Shopee Express , Cirebon, ]",job description responsible for hse implementa...
4,5,Japanese Interpreter,Overview: Our clients is manufacture for autom...,[Japanese Interpreter],overview our clients is manufacture for automo...

#### Translation

In [ ]:
import os
import pandas as pd
import time
import logging
from deep_translator import GoogleTranslator

# === SETUP LOGGING ===
logging.basicConfig(
    filename="translation.log",
    level=logging.INFO,
    format="%(asctime)s - %(levelname)s - %(message)s",
    # filemode='a'
    force=True 
)


translator = GoogleTranslator(source="auto", target="en")
CHECKPOINT_FILE = "translated_checkpoint.csv"


def safe_translate(text, retries=3, delay=0.3, idx=None):
    for attempt in range(retries):
        try:
            result = translator.translate(text)
            return result
        except Exception as e:
            if attempt < retries - 1:
                time.sleep(delay)
            else:
                logging.error(f"Row {idx} failed after {retries} attempts. Returning original. Error: {e}")
                return text


def translate_with_resume(df, text_col="cleaned", log_every=100):
    # === LOAD CHECKPOINT IF EXISTS ===
    if os.path.exists(CHECKPOINT_FILE):
        logging.info("Loading existing checkpoint...")
        done_df = pd.read_csv(CHECKPOINT_FILE)
        start_idx = len(done_df)
        results = list(done_df["translated"])
    else:
        logging.info("No checkpoint found. Starting fresh.")
        start_idx = 0
        results = []

    total = len(df)

    # === START TRANSLATING ===
    for idx in range(start_idx, total):
        text = df[text_col].iloc[idx]
        translated = safe_translate(text, idx=idx)
        results.append(translated)

        # === SAVE CHECKPOINT EVERY ROW ===
        pd.DataFrame({"translated": results}).to_csv(CHECKPOINT_FILE, index=False)

        # === LOG SETIAP log_every BARIS ===
        if (idx + 1) % log_every == 0 or (idx + 1) == total:
            print(f"Translating row {idx + 1}/{total}...")
            logging.info(f"Processed {idx + 1}/{total} rows. Checkpoint saved.")

        time.sleep(0.1)  # Avoid rate limit

    logging.info("All translations completed successfully!")
    return results

In [ ]:
# # Use it:

# df_eda["translated"] = translate_with_resume(df_eda, text_col="cleaned")

Translating row 3000/5044...

Export dataset

In [ ]:
# df_eda.to_csv("dataset_translated.csv")

In [ ]:
# df_translate = pd.read_csv('translated_checkpoint.csv',)
# df_translate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2970 entries, 0 to 2969
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   translated  2970 non-null   object
dtypes: object(1)
memory usage: 23.3+ KB